@model FitnessCenterDetailViewModel

@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cs-height_25 cs-height_lg_25"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @foreach (FitnessCenter fitnessCenter in Model.FitnessCenterList)
            {

                <div class="cs-height_0 cs-height_lg_40"></div>
                <div class="cs-single_product_head">

                    @if (Model.MyFavoriteeList.Select(a => a.FitnessCenterID).Contains(fitnessCenter.FitnessCenterID))
                    {
                        <form asp-controller="Home" asp-action="FavoriKaldir" class="cs-card_like cs-primary_color">
                            <button style="border:hidden; background-color:transparent;"><i class="fas fa-heart fa-fw" style="margin:0px;"></i></button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Home" asp-action="FavoriEkle" class="cs-card_like cs-primary_color">
                            <button style="border:hidden; background-color:transparent;"><i class="far fa-heart fa-fw" style="margin:0px;"></i></button>
                        </form>
                    }

                    <a asp-controller="Home" asp-action="Index" style="border:hidden; background-color:transparent;"><i class="fa-solid fa-angles-left" style="margin:0px; font-size:15px; margin-top:15px;"></i> Ana Sayfa</a>

                </div>
                <div class="cs-height_25 cs-height_lg_25"></div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="cs-author_card cs-white_bg cs-box_shadow">
                            <div class="cs-author_img"><img src="~/client/assets/img/avatar/pt-woman-2.png" alt=""></div>
                            <div class="cs-author_right">
                                <h3>Yönetici</h3>
                                <p>Aslı Han</p>
                            </div>
                        </div>
                        <div class="cs-height_25 cs-height_lg_25"></div>
                    </div>
                    <div class="col-xl-6">
                        <div class="cs-author_card cs-white_bg cs-box_shadow">
                            <div class="cs-author_img"><img src="~/client/assets/img/fitnesscenters/1 (@Model.FitnessCenter.FitnessCenterID).jpg" alt=""></div>
                            <div class="cs-author_right">
                                <h3>Antreman Salonu</h3>
                                <p>@Model.FitnessCenter.FitnessCenterName</p>
                            </div>
                        </div>
                        <div class="cs-height_25 cs-height_lg_25"></div>
                    </div>
                </div>



                <div class="col-lg-12">
                    <div class="cs-post cs-style1 cs-type1">
                        <a asp-controller="AntremanDetay" asp-action="Detay" class="cs-post_thumb">
                            <img src="~/client/assets/img/fitnesscenters/1 (@Model.FitnessCenter.FitnessCenterID).jpg" alt="">
                        </a>
                        <div class="cs-post_info">
                            <div class="cs-post_subtitle" style="text-align:center">
                                Spor severlerin bir çok antreman çeşitleri ile kendilerini geliştirebilecekleri ekipmanların bulunduğu ve
                                Antrenörlerimizin bu konuda uzman seviyesinde seçilip detaylı bilgileri kendilerine aktardığı çalışma ortamı sunmayı amaçladık.
                                Tüm detaylı bilgileri çağrı merkezimizden bir yetkili ile görüşüp kendinizi spor'a kaptırabilirsiniz. (444 00 00)
                            </div>
                            <div class="cs-height_20 cs-height_lg_20"></div>
                            <p style="margin-bottom:0px; text-align:center; font-weight:bolder;">Adres</p>
                            <p style="margin-bottom:0px; text-align:center">@Model.FitnessCenter.FitnessCenterAdress</p>
                            <p style="margin-bottom:0px; text-align:center">@Model.FitnessCenter.District.DistrictName/ @Model.FitnessCenter.District.City.CityName</p>
                            <div class="cs-height_20 cs-height_lg_20"></div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101968.44909560996!2d35.21802778310784!3d36.9975315274641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15288f38a79c7193%3A0xd61674d8580bea06!2sAdana%2C%20Re%C5%9Fatbey%2C%20Seyhan%2FAdana!5e0!3m2!1str!2str!4v1676069460285!5m2!1str!2str" width="420" height="150" style="border:3px solid; border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="cs-height_30 cs-height_lg_30"></div>
                </div>
            }


            <div class="cs-height_25 cs-height_lg_25"></div>
            <div class="cs-tabs cs-fade_tabs cs-style1">
                <div class="cs-height_20 cs-height_lg_20"></div>

                <div id="comments" class="comments-area">
                    @if (Model.CommenttList.Count > 0)
                    {
                        <h4 class="col-lg-2" style="font-weight:200; margin-bottom:15px; border:solid 1px; border-radius:15px; border-color:silver; padding-left:15px; padding-right:15px; text-align:center; background-color:#1f3764; color:white;">Yorumlar</h4>
                    }
                    
                    <ol class="comment-list">

                        @foreach (Commentt commentt in Model.CommenttList)
                        {
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-author vcard">
                                        <img class="avatar" src="~/client/assets/img/avatar/user_avatar.png" alt="Author">
                                        <a href="#" class="url">@commentt.Userr.Emaill</a>
                                    </div>
                                    <div class="comment-meta">
                                        <p>@commentt.CommenttDate.ToLongDateString() @commentt.CommenttDate.ToLongTimeString()</p>
                                    </div>
                                    <textarea class="cs-form_field" readonly rows="5" cols="120" style="resize: none;  border:solid 1px; border-radius:15px; padding:5px 10px; background-color:whitesmoke; border-color:silver">@commentt.CommenttText</textarea>

                                    @if (commentt.UserrID == Convert.ToInt32(User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Sid)?.Value))
                                    {
                                        <form asp-controller="AntremanDetay" asp-action="YorumSil" asp-route-id="@commentt.CommenttID">
                                            <div class="cs-edit_profile_btns">
                                                <button class="cs-delete_btn" style="margin-top:15px; background-color:transparent; border:none;">Yorumu Kaldır  <i class="far fa-trash-alt" style="padding-left:10px;"></i></button>
                                            </div>
                                        </form>
                                    } 
                                    

                                </div>
                            </li>
                        }

                    </ol>
                </div>

                <div id="respond" class="comment-respond cs-box_shadow cs-white_bg">
                    <form asp-controller="AntremanDetay" asp-action="YorumEkle" asp-route-id="@Model.FitnessCenter.FitnessCenterID" method="post" id="commentform" class="comment-form tb-comment-form cs-accent_4_bg">

                        <div class="cs-height_20 cs-height_lg_20"></div>

                        <div class="cs-form_field_wrap">
                            <textarea cols="30" rows="5" name="CommenttText" placeholder="Yorumunuz" class="cs-form_field" style="height: 200px;"></textarea>
                        </div>

                        <div class="cs-height_20 cs-height_lg_20"></div>

                        <button type="submit" class="cs-btn cs-style1 cs-btn_lg" style="background-color:#1f3764;"><span>Yorum Yap</span></button>
                    </form>
                </div>
            </div>
            <div class="cs-height_30 cs-height_lg_30"></div>
        </div>
    </div>
</div>